{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">


	<!-- title -->
	<title>Shopify</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'hm/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'hm/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'hm/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'hm/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'hm/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'hm/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'hm/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'hm/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'hm/css/responsive.css' %}">
<style>
	.dropbtn {
  background-color: Blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left:56px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: violet;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
</head>
<body>

	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<h1><span class="orange-text">Your Favourite Choice</span></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- product section -->
 <div class="dropdown">
  <button class="dropbtn">FILTER</button>
  <div class="dropdown-content">
  <a href="/">All Collections</a>
				<div class="category">
					{% for i in ct %}
					<b style="color:black">
					<a href={{i.get_url}}>{{i.name}}</a><br>
					</b>
					{% endfor %}
			   	</div>
	  </div>
</div>
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				        {% for i in pg.object_list %}

				<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
						<div class="product-image">
							<a href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="height:150px;width:150px;"></a>
						</div>
						<h2>{{i.name}}</h2>
						<p>{{i.desc|truncatechars:17}}</p>
			          <h3>Rs {{i.price}} </h3>
					<p>Stock left:{{i.stock}}</p>
					</div>
				</div>
		{% endfor %}
			</div>
	 <center>
      {% for p in pg.paginator.page_range %}
      <a href="?page={{p}}" class="btn btn-light btn-sm {% if pg.number == p %} active {% endif %}">{{p}}</a>
	 {% endfor %}
    </center>


			<!-- end product section -->


			<!-- jquery -->
			<script src="{% static 'hm/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'hm/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'hm/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'hm/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'hm/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'hm/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'hm/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'hm/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'hm/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'hm/js/main.js' %}"></script>

</div>
</div>
</body>
</html>
{% endblock %}
