{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">


	<!-- title -->
	<title>Shopify</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'hm/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'hm/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'hm/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'hm/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'hm/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'hm/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'hm/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'hm/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'hm/css/responsive.css' %}">

</head>
<body>
 <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>
 <center>
<div class="_3uTeW4" style="font-size:25px;color:red;">Search result for<span class="text-info"> {{request.GET.q}}</span></div>
</center>
                <div class="row">
				{% for i in pr %}
				<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
						<div class="product-image">
							<a href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="height:150px;width:150px;"></a>
						</div>
						<h2>{{i.name}}</h2>
						<p>{{i.desc|truncatechars:17}}</p>
			          <h3>Rs {{i.price}} </h3>
					<p>Stock left:{{i.stock}}</p>
					</div>
				</div>
				{% endfor %}
				</div>

    <!-- jquery -->
    <script src="{% static 'hm/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'hm/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'hm/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'hm/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'hm/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'hm/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'hm/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'hm/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'hm/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'hm/js/main.js' %}"></script>

</div>
</div>
</body>
</html>
